*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.score-box {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 5px black solid;
    font-size: 75px;
    font-weight: bold;
}

.players-box {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.current-player {
    display: flex;
    justify-content: center;
}

.box:nth-child(3n) {
    border-right: none;
    border-left: none;
}

.box:nth-child(n+7) {
    border-bottom: none;
}

.box:nth-child(n-3) {
    border-top: none;
}

.box:nth-child(3n+4) {
    border-left: none;
    border-right: none;
}

.box:first-child {
    border-left: none;
    border-right: none;
}