*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    justify-content: center;
    /* border: 1px black solid; */
}

main {
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* grid-gap: 1em; */
    justify-content: center;
    align-items: center;
    /* border: 3px orange solid; */
}

.score-box {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    /* background-color: grey; */
    border: 1px black solid;
   
   
}

.players-box {
    display: flex;
    justify-content: center;
}

.current-player {
    display: flex;
    justify-content: center;
}


/* @media (max-width: 800px {
    main{
        flex-wrap: nowrap;

    }
    
} */