


.title{
    display: flex;
    justify-content: center;
}
.player-box{
    display: flex;
    justify-content: center;
}

.score-box{
    display: flex;
    justify-content: center;
}

.board-box{
border: solid black;
display: flex;
justify-content: center;
align-items: center;
margin-left: 650px;
margin-right: 650px;
margin-top: 50px;


}
.error{
    display: flex;
    justify-content: center;
    color: red;
}

.boxes-box{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    
    border: solid black;
}

.box{
    border: red dashed;
    text-align: center;
    padding: 20px;
}

.endCaps{
    padding: 50px;
}

.player-turn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}